.header {
  text-align: center;
  background: linear-gradient(blue, pink);
  height: 300px;
  font-size: 60px;
  /* display: flex; */
  justify-content: center;
  color: whitesmoke;
  margin-bottom: 0px;
  padding-top: 109px;
}

.button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  height: 50px;
}
